<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

<% if(message.length===0) { %>
    <div class="my-6">
        <p class="text-black text-3xl font-[400]">Reserve Your Spot</p>
    </div>
    <div class="flex space-x-2 items-center">
        <div
            class="datepicker bg-white border border-gray-300 rounded-2xl w-[60px] p-2 flex items-center justify-center space-x-2 cursor-pointer">
            <div class="pl-3">
                <i class="fa-regular fa-calendar-days"></i>
            </div>

            <input readonly type="text" id="datepicker_input" class="outline-none" placeholder="Select a date">
            <button class="cancel-button" style="display: none;">Cancel</button>
            <button class="apply-button" style="display: none;">Apply</button>
            <div class="datepicker-popup" style="display: none;"></div>
        </div>

        <div class="custom-select p-1">
            <div
                class="select-label bg-white border border-gray-300 rounded-2xl w-[60px] p-2 flex items-center justify-center space-x-2 cursor-pointer">
                <i class="fa-solid fa-users select-label"></i>
                <span class="totalCount select-label"> </span>
            </div>

            <div class="options absolute bg-white shadow-md shadow-black rounded-lg p-3 w-[300px]"
                style="height: 420px;">

                <ul class="flex flex-col  space-y-3">
                    <li class="flex justify-between items-center">
                        <span class="option-text">Seniors</span>
                        <div class="flex items-center space-x-3">
                            <button
                                class="subtract w-12 h-12 rounded-full bg-black text-white text-4xl flex  justify-center">-</button>
                            <span class="count">0</span>
                            <button
                                class="add w-12 h-12 rounded-full bg-black text-white text-4xl flex  justify-center">+</button>
                        </div>

                    </li>
                    <li class="flex justify-between items-center">
                        <span class="option-text">Youths</span>
                        <div class="flex items-center space-x-3">
                            <button
                                class="subtract w-12 h-12 rounded-full bg-black text-white text-4xl flex  justify-center">-</button>
                            <span class="count">0</span>
                            <button
                                class="add w-12 h-12 rounded-full bg-black text-white text-4xl flex  justify-center">+</button>
                        </div>
                    </li>
                    <li class="flex justify-between items-center">
                        <span class="option-text">Children</span>
                        <div class="flex items-center space-x-3">
                            <button
                                class="subtract w-12 h-12 rounded-full bg-black text-white text-4xl flex  justify-center">-</button>
                            <span class="count">0</span>
                            <button
                                class="add w-12 h-12 rounded-full bg-black text-white text-4xl flex  justify-center">+</button>
                        </div>
                    </li>
                    <li class="flex justify-between items-center">
                        <span class="option-text">Adults</span>
                        <div class="flex items-center space-x-3">
                            <button
                                class="subtract w-12 h-12 rounded-full bg-black text-white text-4xl flex  justify-center">-</button>
                            <span class="count">0</span>
                            <button
                                class="add w-12 h-12 rounded-full bg-black text-white text-4xl flex  justify-center">+</button>
                        </div>
                    </li>
                    <li class="flex justify-between items-center">
                        <span class="option-text">Infants</span>
                        <div class="flex items-center space-x-3">
                            <button
                                class="subtract w-12 h-12 rounded-full bg-black text-white text-4xl flex  justify-center">-</button>
                            <span class="count">0</span>
                            <button
                                class="add w-12 h-12 rounded-full bg-black text-white text-4xl flex  justify-center">+</button>
                        </div>
                    </li>
                </ul>
                <br><br>
                <a href="javascript:void(0)" id="update_settings"
                    class="bg-yellow-400 p-2 w-[180px] rounded-3xl font-semibold" style="margin-left: 70px;
                    cursor: pointer;
                    padding: 18px;" onclick="update_sett()"> Update Settings </a>
            </div>


        </div>

        <div class="custom-select p-1" style="font-weight: bolder;">
            <div
                class="select-label bg-white border border-gray-300 rounded-2xl w-[60px] p-2 flex items-center justify-center space-x-2 cursor-pointer">
                <i class="fa fa-key select-label" aria-hidden="true"></i>
                <div class="options absolute bg-white shadow-md shadow-black rounded-lg p-3 w-[300px]"
                    style="width: max-content;margin-top: 130px; background-color: white;">
                    <ul
                        style="padding: 4px; padding-top: 7px; padding-bottom: 7px; word-spacing: 3px; letter-spacing: 1px;">
                        <li><input type="checkbox" name="room_type_" value="deluxe_room_seaview"> &nbsp;&nbsp;
                            <!-- <li><input type="checkbox" name="deluxe_room_seaview" value="deluxe_room_seaview"> &nbsp;&nbsp; -->
                            Deluxe room seaview
                        </li>
                        <li><input type="checkbox" name="room_type_" value="deluxe_room_cityview">
                            <!-- <li><input type="checkbox" name="deluxe_room_cityview" value="deluxe_room_cityview"> -->
                            &nbsp;&nbsp; Deluxe room cityview </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="custom-select p-1">
            <div
                class="select-label bg-white border border-gray-300 rounded-2xl w-[60px] p-2 flex items-center justify-center space-x-2 cursor-pointer">
                <i class="fa fa-bed select-label" aria-hidden="true"> </i>
                <div class="options absolute bg-white shadow-md shadow-black rounded-lg p-3 w-[300px]"
                    style="width: max-content;margin-top: 130px; background-color: white; font-weight: bolder;">
                    <ul style="padding: 10px; word-spacing: 3px; letter-spacing: 1px;">
                        <li><input type="checkbox" name="bed_type_" value="king_bed"> &nbsp;&nbsp; King Bed </li>
                        <li><input type="checkbox" name="bed_type_" value="twin_bed"> &nbsp;&nbsp; Twin Bed </li>
                        <!-- <li><input type="checkbox" name="king_bed" value="king_bed"> &nbsp;&nbsp; King Bed </li>
                        <li><input type="checkbox" name="twin_bed" value="twin_bed"> &nbsp;&nbsp; Twin Bed </li> -->
                    </ul>
                </div>
            </div>
        </div>
    </div>


    <script>
        function handle_outside_selection(event) {
            if (!selection[1].contains(event.target)) {
                // Clicked outside the custom_select, so remove the 'active' class
                selection[1].classList.remove('active');
            }
        }

        function handle_outside_selection2(event) {
            if (!selection[2].contains(event.target)) {
                // Clicked outside the custom_select, so remove the 'active' class
                selection[2].classList.remove('active');
            }
        }


        let selection = document.getElementsByClassName('custom-select');
        selection[1].addEventListener('click', (event) => {
            if (event.target.classList.contains('select-label')) {
                selection[1].classList.toggle('active');
            }
        })

        selection[2].addEventListener('click', (event) => {
            if (event.target.classList.contains('select-label')) {
                selection[2].classList.toggle('active');
            }
        })

        document.addEventListener('click', handle_outside_selection);
        document.addEventListener('click', handle_outside_selection2);
    </script>



    <div class="my-4">

        <div class="card flex flex-col space-y-4 px-6 py-2">
            <input type="radio" name="card-selection" id="card1" class="card-selection">
            <h4><%- tour_res.hotel_name %></h4>
            <span class="totalCount"> </span>
            <p class="card-text"> <%- tour_res.loc_ation %> </p>
            <p class="">No additional charges or booking fees</p>
            <p class="price">Price: 00000</p>
            <div class="bg-blue-400 w-[80px] text-center rounded-3xl p-2 text-white time">7:00 PM</div>
        </div>
    </div>

    <% } %>

        <div class="my-4 flex items-center justify-center space-x-4">

            <% if (message.length> 0) { %>
                <a href="/profile/mytrip_edit" style="background-color: lightblue; padding: 10px; border-radius: 5px; ">
                    Go to Trip </a>
                <img src="/images/greentick.svg" alt="" class="w-[200px] h-[200px]">

                <% } else { %>
                    <button class="bg-yellow-400 p-2 w-[180px] rounded-3xl font-semibold add_trip" id="addtrip">
                        Add to My Trip
                    </button>
                    <button class="bg-yellow-400 p-2 w-[180px] rounded-3xl font-semibold">
                        Book Now
                    </button>
                    <script src="/scripts/my_hotel_data.js"></script>
                    <script src="/scripts/pickDate.js"></script>
                    <script src="/scripts/user_count.js"> </script>
                    <% } %>
        </div>

        <script>

            function update_sett() {
                let customSelect = document.querySelector('.custom-select');
                customSelect.classList.remove('active');
            }

        </script>