<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/styles/output.css">
    <style>
        .about {
            background-color: #f0f0f0;
            padding: 20px;
            text-align: center;
        }

        .about h2 {
            font-size: 24px;
            color: #333;
        }

        .about p {
            font-size: 16px;
            color: #666;
            margin-bottom: 10px;
        }

        footer {
            background-color: #333;
            color: #fff;
            text-align: center;
            padding: 10px;
        }

        footer p {
            margin: 0;
        }

        footer p::before {
            content: "\09";
            padding-right: 5px;
        }
    </style>
    <title>About Us</title>
</head>

<body>

    <% if(user_loggedIn) { %>
        <%- include('./components/navbar', {loggedIn : user_loggedIn}) %>

            <% } else { %>
                <%- include('./components/navbar', {loggedIn : '' }) %>
                    <% } %>

                        <section class="about">
                            <div class="about-content">
                                <h2>About Us</h2>
                                <p>Our mission is to provide unforgettable travel experiences for our customers. We
                                    offer a wide range of services including hotel bookings, guided tours, flights, and
                                    more.</p>
                            </div>
                        </section>

                        <footer>
                            <p>&copy; 2023 Travel Paradise</p>
                        </footer>
</body>

</html>