<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>card hotel</title>
    <link rel="stylesheet" href="/styles/output.css">
    <script src="https://kit.fontawesome.com/fea6aa327a.js" crossorigin="anonymous"></script>
    <link data-minify="1" rel="stylesheet" id="bootstrap-css" href="/styles/design1.css" media="all">
    <link data-minify="1" rel="stylesheet" id="html5blank-css" href="/styles/design2.css" media="all">
</head>

<body>

    <div id="tabs-wrapper">
        <% if(user_loggedIn) { %>
            <%- include('./components/navbar', {loggedIn : user_loggedIn}) %>

                <% } else { %>
                    <%- include('./components/navbar', {loggedIn : '' }) %>
                        <% } %>

                            <div class="tab-content active" data-id="cards">
                                <div class="container-fluid px-2 px-md-5 d-flex" id="trip-listing-wrapper">

                                    <%- include('./components/transport_filter'); %>

                                        <div id="trip-listing">

                                            <!-- TRIP CARDS -->

                                            <%- include('./components/transport_cards') %>

                                        </div>
                                </div>
                            </div>

    </div>
</body>

</html>